html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  position: relative;
  /*! overflow: hidden; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1, h2, h3{
  font-family: 'Montserrat';
  padding: 0px;
  margin: 0px;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

p {
  padding: 0px;
  margin: 0px;
}
/*****************************************\

      Layout

\*****************************************/

.l-header {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1200px;
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  background-color: #FFF;
}

.l-header-title{
  position: relativ
}
.l-header-title h1{
  font-family: Fairview;
  font-weight: lighter;
  font-size: 2.75em;
}

.l-header-title h2{
  font-family: "DejaVu";
  position: relative;
  color: #333;
  font-size: 1.25em;
  padding-left: 60px;
  flex-wrap: wrap;
  top : -6px;
  width: 100%;
}

.l-header nav{
  width: auto;
  height: auto;
  border: none;
  position: relative;
  border-radius: 0px;
}

.l-header nav::after{
  content: "";
  width: 45px;
  height: 45px;
  position: absolute;
  top: 3px;
  left: 2px;
}

.l-header nav a{
  font-family: "Open Sans";
  position: relative;
  font-size: 1.25em;
  z-index: 2;
  margin-right: 30px;
}

.l-header nav a:last-child{
  margin-right: 0%;
}

.l-header nav a::after{
  content: "";
  position: absolute;
  background-color: #333;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.l-header nav a:hover::after {
-webkit-transform: scaleX(1) ;
  transform: scaleX(1);
}

.l-header nav img{
    display: none;
  }

.l-body-carousel {
  max-width: 1400px;
  width: 100%;
  min-width: 460px;
  height: 800px;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.l-body-carousel a {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.l-body-carousel article {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.l-body-carousel article img{
  padding: auto;
  min-width: 1200px;
  width: 100%;
  height: 100%;
  left: 0%;
}

.l-body-carousel article h2{
  position: absolute;
  top: 10px;
  color: #FFF;
  font-size: 6em;
  font-family: 'Macondo';
}

.l-body-carousel .Left{
  left: -3%;
  transition: all ease-in-out 0.3s;
}
.l-body-carousel .Right{
  right: -3%;
  transition: all ease-in-out 0.3s;
}

.l-body-carousel .Left:hover{
  left: 0%;
}

.l-body-carousel .Right:hover{
  right: 0%;
}

.pannel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 23%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.2;
}

.pannel:hover {
  opacity: 1;
}

.arrow {
  background-image: url("../Assets/Arrow.png");
  width: 150px;
  height: 75px;
  position: relative;
  transition: all ease-in-out 0.3s;
}

.Right .arrow{
  transform: rotateY(180deg) translateX(50px);
}

.Right:hover .arrow{
  transform: rotateY(180deg) translateX(-10px);
}

.Left .arrow{
  transform: translateX(50px);
}

.Left:hover .arrow{
  transform: translateX(-10px);
}

.l-body-game{
  min-width: 500px;
  width : 90%;
  max-width: 1100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.l-body-game h2{
  font-family: "montserrat";
  font-size: 2.5em;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
}

.l-body-game .image-link-container {
  min-width: 360px;
  width: 90%;
  display: flex;
  overflow: hidden;
  position: relative;
}

.l-body-game .image-link-container .image-link {
  background-color: rgba(75, 75, 75,0);
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.l-body-game .image-link-container .image-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.l-body-game .image-link-container .image-link::after {
  content: "";
  width: 100px;
  height: 100px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  align-self: center;
  position: absolute;
  z-index: 3;
  background-image: url("../Assets/Door1.png");
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.l-body-game .image-link-container .image-link:hover::after {
  opacity: 1;
}

.l-body-game .image-link-container img {
  max-width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.l-body-game .image-link-container .image-link:hover + img {
  filter : blur(3px);
}

.l-body-game p {
  font-size: 1.5em;
  font-family: "roboto";
  align-self: flex-start;
  width: 90%;
  margin-top: 30px;
}

.contact {
  position: relative;
  margin-top: 50px;
  width: 60%;
  min-width: 600px;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  font-size: 1.25em;
}

.contact fieldset {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 50px;
}

.contact fieldset input {
  width: 50%;
  max-width: 800px;
  min-width: 200px;
}

.contact fieldset textarea {
  width: 100%;
  max-width: 800px;
  min-width: 460px;
  min-height: 200px;
  align-self: center;
}

.contact input[type="submit"]{
  align-self: flex-end;
  font-family: "Roboto";
  margin-top: 25px;
  width: 150px;
  height: 30px;
  border: none;
  background-color: #85672b;
  font-size: 16px;
  color: white;
  transition: all 0.1s ease-in-out;
}

.contact input[type="submit"]:hover{
  align-self: flex-end;
  font-family: "Roboto";
  margin-top: 25px;
  width: 150px;
  height: 30px;
  background-color: #99762f;
  filter:  drop-shadow(10px,10px,8px, black);
  -webkit-filter:  drop-shadow(5px 5px 8px grey);
}

.php-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.php-menu-game {
  width: 425px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items : center;
  border-radius: 20px;
}

.php-menu-game-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}

.php-menu-game-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width : 20%;
  height: 90%;
  padding: 0px;
  margin: 0px;
}

.php-menu-game-icons .modif {
  width : 100%;
  height: 30%;
  background-image: url("../Assets/modifs.png");
  padding: 0px;
  margin: 0px;
}

.php-menu-game-icons .delete {
  width : 100%;
  height: 30%;
  background-image: url("../Assets/cross.png");
  padding: 0px;
  margin: 0px;
}


.php-menu-game-add {
  width : 200px;
  height: 100px;
  background-color: rgb(0, 140, 255);
  color: white;
  font-family: "roboto";
  font-size: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  text-align: center;
  vertical-align: middle;
}

.php-menu-game-add:hover {
  background-color: rgb(0, 94, 219);
}
/*****************************************\

      Module
/*****************************************\

      State

\*****************************************/
.hidden {
  z-index: 0;
}

.fading {
  z-index: 1;
}

.show-left{
  animation: slide-left 0.5s ;
  animation-fill-mode: forwards;
  z-index: 2;
}

.show-right{
  animation: slide-right 0.5s ;
  animation-fill-mode: forwards;
  z-index: 2;
}
/*****************************************\

      Animations #85672b

\*****************************************/

@keyframes slide-right {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}


@keyframes slide-left {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

/*****************************************\

      Media

\*****************************************/

@media screen and (max-width: 850px) {
    .l-header{
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .l-header .l-header-title {
      flex: 1;
    }

    .l-body-carousel {
      max-height: 700px;
    }

    .pannel {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      width: 20%;
      height: 20%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 1;
    }

    .Left {
      border-radius: 0px 40px 40px 0px;
      left: 0%;
    }

    .Right {
      border-radius: 40px 0px 0px 40px;
      right: 0%;
    }

    .arrow {
      background-image: url("../Assets/Arrow-small.png");
    }

    .Right .arrow {
      transform: rotateY(180deg) translateX(0px);
    }

    .Right:hover .arrow {
      transform: rotateY(180deg) translateX(0px);
    }

    .Left .arrow {
      transform: translateX(0px);
    }

    .Left:hover .arrow {
      transform: translateX(0px);
    }

    .l-body-carousel .Left{
      left: 0%;
    }
    .l-body-carousel .Right{
      right: 0%;
    }

    .Left:hover{
      left: 0%;
    }

    .Right:hover{
      right: 0px;
    }

}
